body {
  background: #efefef;
  margin:0;
}

.header {
  height:70px;
  background:#4078c0;
}

.wapper {
  width:980px;
  height:700px;
  box-shadow:0 2px 5px rgba(0,0,0,0.4);
  background:#fff;
  margin:10px auto;
}
